<!doctype html>
<html>
	<head><title> Tracking pixel dashboard</title></head>
	<body>
		<h1> Dashboard </h1>

		<p> {{ user.username }} <a href="{{ url_for('log_out') }}">Log out?</a>
		
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

		<table border=1>
			<tr><th>Action</th><th>Name</th><th>Endpoint</th><th>Visits</th><th>Last accessed</th></tr>
			{% for pixel in user.pixels %}
			<tr>
				<td><form method=post action="{{url_for('delete_pixel') }}"><input type=hidden name="pixel-id" value="{{pixel.pixel_id}}"><input type="submit" value="X"></form></td>
				{% with stat=url_for('stats', address=pixel.address) %}
				<td><a href="{{stat}}">{{pixel.name}}</a></td>
				<td><code>{{url_for('serve_pixel',address='', _external=True) ~ pixel.address}}</code></td>
				{% endwith %}
				<td>{{pixel.visits.__len__()}}</td>
				<td>TBI</td>
			</tr>
			{% endfor %}
			<form method=post action="{{ url_for('create_pixel') }}"><tr>
				<td><input type="submit" value="+"></td>
				<td><input type="text" name="name" required></td>
				<td> <code>{{ url_for('serve_pixel',address='', _external=True) }}</code> <input type="text" name="endpoint" value="{{uuid.uuid4()~''}}" required> </td>
				<td>-1</td>
				<td>never</td>

			</tr></form>
		</table>
		<br>
		<br>
		<br>
		Change your password:
		<form action="{{ url_for('change_password') }}" method="post">
			Your current password: <input type="password" name="old-password"><br>	
			Your new password: <input type="password" name="new-password"><br>
			<input type="submit" name="Change password!"><br>
		</form>
</html>
