<!doctype html>
<html><head></head><body>

		<p>Someone, hopefully you, wants to delete your account.</p>
		<p>If this was your intention, we're sorry to see you go.
		Please follow <a href="{{url_for('confirm_delete_account', nonce=nonce, _external=True)}}">this link</a>.</p>

		<p>Be advised that if you follow this link, all your pixels, visits and accesses
		will be <b>permanently deleted</b>. Please be certain.</p>

		<p>If you changed your mind and do not want to delete your account, please delete
this email. This link will remain valid until you log out, so make sure not
to share it with anyone else.</p>


<p>Yours, the beacon service.</p>
</body></html>
