<!doctype html>
<html>
	<head><title>{{name}} stats</title></head>
	<body>
		<h1> Stats for {{name}} </h1>
		
		<p> {{description}} </p>

		<table border=1>
			<tr><th>Delete?</th><th>Date and time</th><th>IP address</th><th>User-agent</th><th>Additional GET params</th></tr>
			{% for model in query_result %}
			<tr><td><form action="{{ visit_delete_action }}" method="post"><input type="hidden" name="enc_password" value="{{enc_password}}"><input type="hidden" name="visit_id" value="{{model.visit_id}}"> <input type="submit" value="X"></form></td><td>{{model.access_date.isoformat(' ')}}</td><td>{{model.ip_address}}</td><td>{{model.user_agent}}</td><td>{{model.additional_params}}</td></tr>
			{% endfor %}
		</table>
		<p> You may <a href="{{delete_userpage}}">delete this pixel and all visit data</a>, or change its access password:</p>
		<form action="{{change_password_action}}" method="post">
			<input type="hidden" name="pixel_id" value="{{pixel_id}}">
			Your current password: <input type="password" id="old-password" name="old-password"><br>	
			Your new password: <input type="password" id="new-password" name="new-password"><br>
			<input type="submit" name="Submit!"><br>
		</form>
</html>
